In [1]:
import pandas as pd

In [11]:
# Satisfied level dataset
url1="https://drive.google.com/file/d/1ehMkFolQmCyCRO73LoWM78c4uVzj_VnI/view?usp=drive_link"
url1='https://drive.google.com/uc?id=' + url1.split('/')[-2]
SatisfiedLevel = pd.read_csv(url1)

In [17]:
SatisfiedLevel

   SatisfactionID  SatisfactionLevel
0               1  Very Dissatisfied
1               2       Dissatisfied
2               3            Neutral
3               4         Satisfied
4               5     Very Satisfied

In [33]:
SatisfiedLevel.columns

Index(['SatisfactionID', 'SatisfactionLevel'], dtype='object')

In [51]:
SatisfiedLevel.dtypes

SatisfactionID        int64
SatisfactionLevel    object
dtype: object

In [19]:
# RatingLevel
url2="https://drive.google.com/file/d/1ciDWRN2lb5n5SGzyQIzFtHZVI1RQ9a09/view?usp=drive_link"
url2='https://drive.google.com/uc?id=' + url2.split('/')[-2]
RatingLevel = pd.read_csv(url2)
RatingLevel

   RatingID           RatingLevel
0         1          Unacceptable
1         2     Needs Improvement
2         3     Meets Expectation
3         4  Exceeds Expectation
4         5      Above and Beyond

In [35]:
RatingLevel.columns

Index(['RatingID', 'RatingLevel'], dtype='object')

In [53]:
RatingLevel.dtypes

RatingID        int64
RatingLevel    object
dtype: object

In [122]:
# PerformanceRating
url3="https://drive.google.com/file/d/1bkquRLdL2PIh_BgvQhid_RJSYiDJCvu3/view?usp=sharing"
url3='https://drive.google.com/uc?id=' + url3.split('/')[-2]
PerformanceRating = pd.read_csv(url3)
PerformanceRating

,PerformanceID,EmployeeID,ReviewDate,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating
0,PR01,79F7-78EC,1/2/2013,5,4,5,1,0,4,4,4
1,PR02,B61E-0F26,1/3/2013,5,4,4,1,3,4,4,3
2,PR03,F5E3-48BB,1/3/2013,3,4,5,3,2,3,5,4
3,PR04,0678-748A,1/4/2013,5,3,2,2,0,2,3,2
4,PR05,541F-3E19,1/4/2013,5,2,3,1,0,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...
6704,PR995,4F28-CFAF,3/14/2016,5,3,3,3,1,5,5,4
6705,PR996,7C80-94E0,3/14/2016,3,5,4,2,1,3,4,4
6706,PR997,8233-2483,3/14/2016,3,4,2,3,1,2,3,2
6707,PR998,8A5B-3D6E,3/15/2016,5,2,5,2,2,4,3,3
6708,PR999,4500-37EB,3/16/2016,4,5,5,3,1,2,3,3

In [96]:
PerformanceRating.columns

Index(['PerformanceID', 'EmployeeID', 'ReviewDate', 'EnvironmentSatisfaction',
       'JobSatisfaction', 'RelationshipSatisfaction',
       'TrainingOpportunitiesWithinYear', 'TrainingOpportunitiesTaken',
       'WorkLifeBalance', 'SelfRating', 'ManagerRating'],
      dtype='object')

In [98]:
PerformanceRating.dtypes

PerformanceID                      object
EmployeeID                         object
ReviewDate                         object
EnvironmentSatisfaction             int64
JobSatisfaction                     int64
RelationshipSatisfaction            int64
TrainingOpportunitiesWithinYear     int64
TrainingOpportunitiesTaken          int64
WorkLifeBalance                     int64
SelfRating                          int64
ManagerRating                       int64
dtype: object

### Converticing dates in coreect format

In [124]:
PerformanceRating['ReviewDate']=pd.to_datetime(PerformanceRating['ReviewDate'],errors='coerce')
#PerformanceRating['ReviewDate']=PerformanceRating['ReviewDate'].dt.strftime('%Y-%m-%d')

In [126]:
PerformanceRating['ReviewDate'].dtype

dtype('<M8[ns]')

In [130]:
PerformanceRating['ReviewDate'].isna().sum()

0

In [132]:
PerformanceRating.isnull().sum()

PerformanceID                      0
EmployeeID                         0
ReviewDate                         0
EnvironmentSatisfaction            0
JobSatisfaction                    0
RelationshipSatisfaction           0
TrainingOpportunitiesWithinYear    0
TrainingOpportunitiesTaken         0
WorkLifeBalance                    0
SelfRating                         0
ManagerRating                      0
dtype: int64

In [134]:
PerformanceRating.dtypes

PerformanceID                              object
EmployeeID                                 object
ReviewDate                         datetime64[ns]
EnvironmentSatisfaction                     int64
JobSatisfaction                             int64
RelationshipSatisfaction                    int64
TrainingOpportunitiesWithinYear             int64
TrainingOpportunitiesTaken                  int64
WorkLifeBalance                             int64
SelfRating                                  int64
ManagerRating                               int64
dtype: object

In [154]:
PerformanceRating['ManagerRating'].unique()

array([4, 3, 2, 5], dtype=int64)

In [172]:
PerformanceRating.to_csv('PerformanceRating.csv', index=False)

In [23]:
# Employee
url4="https://drive.google.com/file/d/15uovm3We10afXJ95ioI20rq8nyWKTWyJ/view?usp=drive_link"
url4='https://drive.google.com/uc?id=' + url4.split('/')[-2]
Employee = pd.read_csv(url4)
Employee

,EmployeeID,FirstName,LastName,Gender,Age,BusinessTravel,Department,DistanceFromHome (KM),State,Ethnicity,...,MaritalStatus,Salary,StockOptionLevel,OverTime,HireDate,Attrition,YearsAtCompany,YearsInMostRecentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,3012-1A41,Leonelle,Simco,Female,30,Some Travel,Sales,27,IL,White,...,Divorced,102059,1,No,2012-01-03,No,10,4,9,7
1,CBCB-9C9D,Leonerd,Aland,Male,38,Some Travel,Sales,23,CA,White,...,Single,157718,0,Yes,2012-01-04,No,10,6,10,0
2,95D7-1CE9,Ahmed,Sykes,Male,43,Some Travel,Human Resources,29,CA,Asian or Asian American,...,Married,309964,1,No,2012-01-04,No,10,6,10,8
3,47A0-559B,Ermentrude,Berrie,Non-Binary,39,Some Travel,Technology,12,IL,White,...,Married,293132,0,No,2012-01-05,No,10,10,10,0
4,42CC-040A,Stace,Savege,Female,29,Some Travel,Human Resources,29,CA,White,...,Single,49606,0,No,2012-01-05,Yes,6,1,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,467E-977A,Jud,Melanaphy,Male,20,Some Travel,Technology,28,CA,Black or African American,...,Single,38508,0,No,2022-12-26,No,0,0,0,0
1466,6FB9-A624,Marc,Calver,Non-Binary,27,Some Travel,Technology,8,CA,Black or African American,...,Single,92995,3,No,2022-12-30,No,0,0,0,0
1467,EBF4-5928,Rudolph,MacDearmont,Male,21,Some Travel,Sales,4,CA,Black or African American,...,Single,63375,0,No,2022-12-30,No,0,0,0,0
1468,60E6-B1D9,Merill,Agg,Male,21,Some Travel,Technology,7,CA,Black or African American,...,Married,46521,0,No,2022-12-30,No,0,0,0,0
1469,84D4-D4C3,Naoma,Hebbard,Female,20,No Travel,Technology,28,CA,Black or African American,...,Married,38258,0,No,2022-12-31,No,0,0,0,0

In [39]:
Employee.columns

Index(['EmployeeID', 'FirstName', 'LastName', 'Gender', 'Age',
       'BusinessTravel', 'Department', 'DistanceFromHome (KM)', 'State',
       'Ethnicity', 'Education', 'EducationField', 'JobRole', 'MaritalStatus',
       'Salary', 'StockOptionLevel', 'OverTime', 'HireDate', 'Attrition',
       'YearsAtCompany', 'YearsInMostRecentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [136]:
Employee.dtypes

EmployeeID                 object
FirstName                  object
LastName                   object
Gender                     object
Age                         int64
BusinessTravel             object
Department                 object
DistanceFromHome (KM)       int64
State                      object
Ethnicity                  object
Education                   int64
EducationField             object
JobRole                    object
MaritalStatus              object
Salary                      int64
StockOptionLevel            int64
OverTime                   object
HireDate                   object
Attrition                  object
YearsAtCompany              int64
YearsInMostRecentRole       int64
YearsSinceLastPromotion     int64
YearsWithCurrManager        int64
dtype: object

## Converting Hire Date to proper format

In [140]:
Employee['HireDate']=pd.to_datetime(Employee['HireDate'],errors='coerce')

In [168]:
Employee['HireDate'].dtypes

dtype('<M8[ns]')

In [144]:
Employee['HireDate'].isna().sum()

0

In [170]:
Employee.dtypes

EmployeeID                         object
FirstName                          object
LastName                           object
Gender                             object
Age                                 int64
BusinessTravel                     object
Department                         object
DistanceFromHome (KM)               int64
State                              object
Ethnicity                          object
Education                           int64
EducationField                     object
JobRole                            object
MaritalStatus                      object
Salary                              int64
StockOptionLevel                    int64
OverTime                           object
HireDate                   datetime64[ns]
Attrition                          object
YearsAtCompany                      int64
YearsInMostRecentRole               int64
YearsSinceLastPromotion             int64
YearsWithCurrManager                int64
dtype: object

In [24]:
# EducationLevel
url5="https://drive.google.com/file/d/1_VGnEhrM_KFwmFjBaVjwKeAe96P66Zro/view?usp=drive_link"
url5='https://drive.google.com/uc?id=' + url5.split('/')[-2]
EducationLevel = pd.read_csv(url5)
EducationLevel

   EducationLevelID            EducationLevel
0                 1  No Formal Qualifications
1                 2              High School
2                 3                Bachelors
3                 4                  Masters
4                 5                 Doctorate

In [41]:
EducationLevel.columns

Index(['EducationLevelID', 'EducationLevel'], dtype='object')

In [162]:
EducationLevel.dtypes

EducationLevelID     int64
EducationLevel      object
dtype: object

In [148]:
Employee.isnull().sum()

EmployeeID                 0
FirstName                  0
LastName                   0
Gender                     0
Age                        0
BusinessTravel             0
Department                 0
DistanceFromHome (KM)      0
State                      0
Ethnicity                  0
Education                  0
EducationField             0
JobRole                    0
MaritalStatus              0
Salary                     0
StockOptionLevel           0
OverTime                   0
HireDate                   0
Attrition                  0
YearsAtCompany             0
YearsInMostRecentRole      0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [158]:
Employee['DistanceFromHome (KM)'].unique()

array([27, 23, 29, 12, 30, 45,  3, 20,  4, 42,  8, 35, 21, 34, 19,  1, 17,
       36, 37, 41, 25, 44, 22, 40, 14, 15,  7,  5, 31,  9, 13, 38, 16, 39,
       28, 32,  2,  6, 11, 33, 26, 43, 10, 18, 24], dtype=int64)

In [164]:
Employee['OverTime'].unique()

array(['No', 'Yes'], dtype=object)

In [174]:
Employee.to_csv('Employee.csv', index=False)

In [67]:
# u="https://drive.google.com/file/d/1bkquRLdL2PIh_BgvQhid_RJSYiDJCvu3/view?usp=sharing"
# u='https://drive.google.com/uc?id=' + u.split('/')[-2]
# PerformanceRating1 = pd.read_csv(u)
# PerformanceRating1

,PerformanceID,EmployeeID,ReviewDate,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating
0,PR01,79F7-78EC,1/2/2013,5,4,5,1,0,4,4,4
1,PR02,B61E-0F26,1/3/2013,5,4,4,1,3,4,4,3
2,PR03,F5E3-48BB,1/3/2013,3,4,5,3,2,3,5,4
3,PR04,0678-748A,1/4/2013,5,3,2,2,0,2,3,2
4,PR05,541F-3E19,1/4/2013,5,2,3,1,0,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...
6704,PR995,4F28-CFAF,3/14/2016,5,3,3,3,1,5,5,4
6705,PR996,7C80-94E0,3/14/2016,3,5,4,2,1,3,4,4
6706,PR997,8233-2483,3/14/2016,3,4,2,3,1,2,3,2
6707,PR998,8A5B-3D6E,3/15/2016,5,2,5,2,2,4,3,3
6708,PR999,4500-37EB,3/16/2016,4,5,5,3,1,2,3,3

In [69]:
PerformanceRating1.head(50)

,PerformanceID,EmployeeID,ReviewDate,EnvironmentSatisfaction,JobSatisfaction,RelationshipSatisfaction,TrainingOpportunitiesWithinYear,TrainingOpportunitiesTaken,WorkLifeBalance,SelfRating,ManagerRating
0,PR01,79F7-78EC,1/2/2013,5,4,5,1,0,4,4,4
1,PR02,B61E-0F26,1/3/2013,5,4,4,1,3,4,4,3
2,PR03,F5E3-48BB,1/3/2013,3,4,5,3,2,3,5,4
3,PR04,0678-748A,1/4/2013,5,3,2,2,0,2,3,2
4,PR05,541F-3E19,1/4/2013,5,2,3,1,0,4,4,3
5,PR06,F93E-BDEF,1/4/2013,3,3,2,2,0,4,4,4
6,PR07,9E7A-1F70,1/8/2013,3,4,5,2,1,5,4,3
7,PR08,05ED-92F1,1/10/2013,4,5,4,1,1,3,3,2
8,PR09,F72D-261D,1/10/2013,4,5,2,1,1,4,5,4
9,PR10,774E-685D,1/11/2013,5,4,3,2,3,4,5,4
10,PR100,B013-7D0C,4/10/2013,4,3,3,2,0,4,3,3
11,PR1000,528C-3E0D,3/16/2016,4,4,2,2,2,4,5,5
12,PR1001,D077-169C,3/17/2016,3,5,3,2,2,3,5,5
13,PR1002,9727-BC84,3/18/2016,4,3,3,2,2,2,4,3
14,PR1003,DA8E-9496,3/18/2016,3,5,4,1,0,5,5,5
15,PR1004,DEC5-9319,3/18/2016,3,4,3,2,3,2,4,4
16,PR1005,88B8-EB84,3/19/2016,3,4,2,3,1,4,5,5
17,PR1006,9C57-828C,3/19/2016,5,4,2,1,1,2,3,3
18,PR1007,E1B4-9AA1,3/22/2016,5,4,3,3,2,3,4,3
19,PR1008,3CD6-5587,3/23/2016,5,4,2,2,0,4,4,3
20,PR1009,BAFA-86DF,3/23/2016,3,3,4,2,1,2,3,3
21,PR101,152E-8DB1,4/12/2013,5,2,5,1,0,5,5,4
22,PR1010,C6D7-A568,3/23/2016,4,2,3,3,0,2,4,4
23,PR1011,5160-53BD,3/24/2016,4,2,5,1,2,2,5,5
24,PR1012,81FF-8D6C,3/24/2016,3,4,3,2,0,4,5,4
25,PR1013,84E7-02D4,3/25/2016,3,5,3,1,1,4,3,3
26,PR1014,6010-A052,3/25/2016,3,3,3,2,1,5,5,5
27,PR1015,6176-3BEE,3/27/2016,5,3,2,2,0,5,5,4
28,PR1016,47A0-559B,3/27/2016,3,5,3,3,0,2,3,3
29,PR1017,A954-6310,3/27/2016,4,3,4,2,1,5,4,3
30,PR1018,C525-8BB9,3/27/2016,3,4,4,1,2,3,4,3
31,PR1019,9AAB-DCD0,3/28/2016,4,4,2,2,1,5,5,4
32,PR102,52CC-3E9E,4/13/2013,3,3,3,3,1,5,3,3
33,PR1020,00E4-3D60,3/29/2016,3,3,5,3,0,3,5,4
34,PR1021,03C5-51AD,3/30/2016,4,4,3,2,0,4,5,4
35,PR1022,A807-DE5D,3/30/2016,3,5,4,3,2,5,3,3
36,PR1023,DD04-BDF8,3/30/2016,5,4,2,2,0,2,4,3
37,PR1024,8FD9-AA59,3/31/2016,5,2,5,1,1,2,5,4
38,PR1025,86E2-73D1,3/31/2016,5,3,2,2,0,2,4,3
39,PR1026,1A6D-AF5D,4/1/2016,3,4,5,3,2,5,3,2
40,PR1027,0210-E0D8,4/2/2016,4,2,2,2,1,4,4,4
41,PR1028,07B2-D67A,4/2/2016,4,4,5,3,1,4,5,4
42,PR1029,819A-2C9C,4/2/2016,5,5,3,3,0,3,4,3
43,PR103,C5C2-985F,4/14/2013,3,2,5,3,1,5,4,4
44,PR1030,B6EC-313E,4/3/2016,5,4,5,2,1,4,5,5
45,PR1031,0D8F-C0F3,4/5/2016,4,2,4,2,2,3,5,5
46,PR1032,1799-5B3F,4/5/2016,5,5,5,3,0,4,3,2
47,PR1033,3B11-DF28,4/5/2016,5,3,5,3,1,2,4,4
48,PR1034,076F-8AA3,4/6/2016,3,2,3,3,2,4,4,3
49,PR1035,95D7-1CE9,4/8/2016,3,3,2,1,0,2,3,2

In [190]:
pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.2.6-cp311-cp311-win_amd64.whl.metadata (4.8 kB)
Downloading mysqlclient-2.2.6-cp311-cp311-win_amd64.whl (207 kB)
   ---------------------------------------- 0.0/207.5 kB ? eta -:--:--
   - -------------------------------------- 10.2/207.5 kB ? eta -:--:--
   ------- ------------------------------- 41.0/207.5 kB 653.6 kB/s eta 0:00:01
   ---------------------------------------  204.8/207.5 kB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 207.5/207.5 kB 1.8 MB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.6
Note: you may need to restart the kernel to use updated packages.

In [192]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.1.0-cp311-cp311-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.1.0-cp311-cp311-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   - -------------------------------------- 0.5/16.1 MB 9.4 MB/s eta 0:00:02
   -- ------------------------------------- 0.9/16.1 MB 10.0 MB/s eta 0:00:02
   --- ------------------------------------ 1.5/16.1 MB 10.5 MB/s eta 0:00:02
   ---- ----------------------------------- 1.7/16.1 MB 9.9 MB/s eta 0:00:02
   ----- ---------------------------------- 2.1/16.1 MB 9.1 MB/s eta 0:00:02
   ----- ---------------------------------- 2.3/16.1 MB 8.8 MB/s eta 0:00:02
   ------ --------------------------------- 2.8/16.1 MB 8.4 MB/s eta 0:00:02
   ------- -------------------------------- 3.0/16.1 MB 8.4 MB/s eta 0:00:02
   -------- ------------------------------- 3.3/16.1 MB 7.9 MB/s eta 0:00:02
   --------- ------------------------------ 3.6/16.1 MB 7.7 MB/s eta 0:00:02
   --------- ------------------------------ 3.9/16.1 MB 7.6 MB/s eta 0:00:02
   ---------- ----------------------------- 4.2/16.1 MB 7.5 MB/s eta 0:00:02
   ----------- ---------------------------- 4.5/16.1 MB 7.4 MB/s eta 0:00:02
   ------------ --------------------------- 4.8/16.1 MB 7.3 MB/s eta 0:00:02
   ------------ --------------------------- 5.1/16.1 MB 7.2 MB/s eta 0:00:02
   ------------- -------------------------- 5.4/16.1 MB 7.2 MB/s eta 0:00:02
   -------------- ------------------------- 5.7/16.1 MB 7.2 MB/s eta 0:00:02
   -------------- ------------------------- 5.8/16.1 MB 6.8 MB/s eta 0:00:02
   --------------- ------------------------ 6.1/16.1 MB 6.9 MB/s eta 0:00:02
   ---------------- ----------------------- 6.5/16.1 MB 7.0 MB/s eta 0:00:02
   ----------------- ---------------------- 7.0/16.1 MB 7.1 MB/s eta 0:00:02
   ----------------- ---------------------- 7.2/16.1 MB 6.9 MB/s eta 0:00:02
   ------------------ --------------------- 7.4/16.1 MB 6.9 MB/s eta 0:00:02
   ------------------ --------------------- 7.5/16.1 MB 6.7 MB/s eta 0:00:02
   -------------------- ------------------- 8.1/16.1 MB 6.9 MB/s eta 0:00:02
   --------------------- ------------------ 8.5/16.1 MB 6.8 MB/s eta 0:00:02
   --------------------- ------------------ 8.7/16.1 MB 6.9 MB/s eta 0:00:02
   ---------------------- ----------------- 9.1/16.1 MB 6.8 MB/s eta 0:00:02
   ----------------------- ---------------- 9.4/16.1 MB 6.8 MB/s eta 0:00:01
   ------------------------ --------------- 9.7/16.1 MB 6.8 MB/s eta 0:00:01
   ------------------------ --------------- 10.0/16.1 MB 6.8 MB/s eta 0:00:01
   ------------------------- -------------- 10.2/16.1 MB 6.8 MB/s eta 0:00:01
   -------------------------- ------------- 10.6/16.1 MB 6.7 MB/s eta 0:00:01
   --------------------------- ------------ 10.9/16.1 MB 6.6 MB/s eta 0:00:01
   --------------------------- ------------ 11.2/16.1 MB 6.5 MB/s eta 0:00:01
   ---------------------------- ----------- 11.5/16.1 MB 6.4 MB/s eta 0:00:01
   ----------------------------- ---------- 11.8/16.1 MB 6.4 MB/s eta 0:00:01
   ------------------------------ --------- 12.1/16.1 MB 6.4 MB/s eta 0:00:01
   ------------------------------ --------- 12.4/16.1 MB 6.4 MB/s eta 0:00:01
   ------------------------------- -------- 12.6/16.1 MB 6.3 MB/s eta 0:00:01
   -------------------------------- ------- 12.9/16.1 MB 6.3 MB/s eta 0:00:01
   --------------------------------- ------ 13.3/16.1 MB 6.3 MB/s eta 0:00:01
   --------------------------------- ------ 13.5/16.1 MB 6.3 MB/s eta 0:00:01
   ---------------------------------- ----- 13.8/16.1 MB 6.3 MB/s eta 0:00:01
   ----------------------------------- ---- 14.1/16.1 MB 6.3 MB/s eta 0:00:01
   ----------------------------------- ---- 14.2/16.1 MB 6.2 MB/s eta 0:00:01
   ------------------------------------ --- 14.7/16.1 MB 6.4 MB/s eta 0:00:01
   ------------------------------------- -- 15.0/16.1 MB 6.3 MB/s eta 0:00:01
   -------------------------------------- - 15.3/16.1 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------  15.7/16.1 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 6.3 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 6.4 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0
Note: you may need to restart the kernel to use updated packages.

In [194]:
pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/45.0 kB ? eta -:--:--
   --------- ------------------------------ 10.2/45.0 kB ? eta -:--:--
   ------------------------------------ --- 41.0/45.0 kB 653.6 kB/s eta 0:00:01
   ---------------------------------------- 45.0/45.0 kB 439.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [ ]:

import warnings
warnings.filterwarnings('ignore')
from sqlalchemy import create_engine
import pandas as pd
DATABASE_TYPE = 'mysql' 
DBAPI = 'mysqldb' 
USER = 'root' 
PASSWORD = "Varad%40123" 
HOST = '127.0.0.1' 
PORT = '3306' 
DATABASE = 'electric_roots_043' # Create the engine string 
engine_string = f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"
engine=create_engine(engine_string)
conn=engine.connect()
PerformanceRating.to_sql('PerformanceRating',engine,index=False,if_exists='replace')

In [208]:
Employee.to_sql('Employee',engine,index=False,if_exists='replace')
RatingLevel.to_sql('RatingLevel',engine,index=False,if_exists='replace')
SatisfiedLevel.to_sql('SatisfiedLevel',engine,index=False,if_exists='replace')
EducationLevel.to_sql('EducationLevel',engine,index=False,if_exists='replace')

5